.drawer-container {
	user-select: none;
	color: var(--color-dark);
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem auto 3rem;
}

.header {
  padding-left: 0.5rem;
}

.item {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}
.item:hover {
	color: var(--color-quaternary);
}

/* .version-container {
	position: relative;
} */
.version {
	text-align: center;
}

@media only screen and (min-width: 1200px) {
  .item {
    padding: 8px;
  }  
}